---
import Navigation from './Navigation.astro';
import Hamburger from './Hamburger.astro';
---
<header>
  <nav>
    <Hamburger />
    <Navigation />
  </nav>

  <script src="/scripts/menu.js" defer></script>
</header>